<!-- include header -->
<% include("include/_header") %>

<!-- Main Site -->
<main>
    <div class="indexTopBar">
        <img src="img/SE-GitHub-image.png" alt="NCHS Logo" />
        <h1>Habits of Mind Journal</h1> 

        <style>
             .filter-container {
                padding: 10px 15px;
                position: sticky;
                top: 0;
                z-index: 100;

             }
        </style>

    <div class="filter-container">
        <form action="/" method="GET">
            <label for="habitFilter">Filter by Habit of Mind:</label>
            <select id="habitFilter" name="habit">
                <option value="all" <%= currentHabit === "all" ? "selected" : "" %>>All</option>
                <% for (let habit of habits) { %>
                    <option value="<%= habit %>" <%= currentHabit === habit ? "selected" : "" %>>
                        <%= habit %>
                    </option>
                <% } %>
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>

        <a href="/createEntry" role="button">Create Entry</a>
    </div>

    <div class="entries" id="entries">
        <% for(let entry of entries) { %>
            <div class="entry">
                <div class="entryDate"><%=entry.date%></div>
                <div class="entryHabit"><%=entry.habit%></div>
                <div class="entryContent"><%=entry.content%></div>
                <div><a href="/editEntry/<%=entry.id%>" role="button" class="secondary">Edit</a></div>
            </div>
        <% } %>
    </div>
</main>

<!-- End of Main Site -->

<!-- include footer -->
<% include("include/_footer") %>